#map {
    display: inline-block;
}
.dashboard{
    display: inline-block;
    vertical-align:top;
}
.onoffswitch{
    position: relative;
    top:150px;
    left: 80px;

}
#timeSlider{
    position: relative;
    left: 100px;
    top: 200px;
}