#map {
    display: inline-block;
}
.container{
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard{
    display: inline-block;
    vertical-align:top;
}

form {
  width:100%;
  box-sizing:border-box;
  background-color:white;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
  text-align:center;
  position:relative;
  left: 15px;
  top: 110px; 
  border-radius:2px;
}

.onoffswitch{
    position: relative;
    top:150px;
    left: 10px;

}

#play-button {
    position: relative;
    top: 180px;
    left: 10px;
    background: #c06c84;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
  }

  #play-button:hover {
    background-color: #696969;
  }
  
  #compare-button {
    position: relative;
    top: 210px;
    left: 10px;
    background: #6c567b;
    border-radius: 3px;
    border: none;
    margin: 0;
    width: 170px;
    cursor: pointer;
    height: 30px;
  }
  
  #compare-button a{
    text-decoration: none;
    color: white;
  }
  .ticks {
    font-size: 12px;
  }

  .track,
  .track-inset,
  .track-overlay {
    stroke-linecap: round;
  }

  .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
  }

  .track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
  }

  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
  }

  .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
  }